[mysqld]

# Configuracion del entorno para las pruebas

# buffer pool fijo
innodb_buffer_pool_size = 256M

# tamaño del log
innodb_log_file_size = 64M

# metodo de escritura
innodb_flush_method = O_DIRECT

# confirmacion de escritura
innodb_flush_log_at_trx_commit = 1

# mantener estadisticas iguales
innodb_stats_persistent = ON

# evitar resolucion DNS
skip-name-resolve

# conjunto de caracteres
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# zona horaria
default-time-zone = '+00:00'